<h1>Your Personal Cheese Database</h1>

<h2>Keep track of the cheeses you've tasted, remember your favorites fondly and become a true cheese maestro!</h2>

<ul>
<% @cheeses.each do |cheese| %>
    <li><%= cheese.name%>(<em><%= cheese.milk%></em>)</li>
    <% end %>
</ul>