<h1><%=@cheese.name%></h1>
<h2>Characteristics:</h2>
<ul>
    <li><%=@cheese.origin%></li>
    <% if @cheese.creamery %>
        <li><%=@cheese.creamery%></li>
    <% end %>
    <li>Type of Rind:<%=@cheese.rind%></li>
</ul>